{{ define "main" }}
  {{ if .Content }}
    <div class="index-content {{ if .Params.framed -}}framed{{- end -}}">
      {{ .Content }}
    </div>
  {{ end }}

  <div class="hero-about">
    Hi, I'm Stephen Mizell, a technologist and writer specializing in APIs.
    You can 
    read <a href="/about">about me</a>,
    check out some of <a href="/projects/">my projects</a>,
    read <a href="/tags/">things I write</a>,
    keep up with <a href="/categories/weeknotes/">weeknotes</a>,
    or <a href="/contact/">get in touch</a>.
  </div>

  <div class="books">
    <h2>Latest book</h2>
    <!--<div class="book">
      <div><img class="book__cover" src="{{ "images/language-oriented/cover-small.svg" | absURL }}" alt="Book cover" width="100" /></div>
      <div>
        <span class="book__heading">The Language-Oriented Approach to API Development</span>
        <p>
          The Language-Oriented Approach to API Development is a book about a different way to do API development.
          Instead of governing the way people in an organization use OpenAPI,
          the language-oriented approach encourages organizations to create DSLs tailored to the way they design APIs.
        </p>
        <p><a href="/books/language-oriented">Buy now</a></p>
      </div>
    </div>-->
    <div class="book">
      <div><img class="book__cover" src="/images/api-by-design/cover-small.svg" alt="Book cover" width="100" /></div>
      <div>
        <span class="book__heading">API by Design</span>
        <p>
          API by Design is a book about finding ways to measure
          complexity so we can design and build better APIs. Complexity is inevitable,
          so we need good ideas, approaches, and tools to help us deal with it we build
          and evolve APIs.
        </p>
        <p><a href="/books/api-by-design/">Buy now</a></p>
      </div>
    </div>
    <p class="book--more"><a href="/books/">See all books</a></p>
  </div>

  <div class="content list readable">
    <h2>Blog</h2>

    <p><a href="/posts/">View all posts</a></p>

    {{ $p := where .Site.RegularPages "Section" "posts" }}
    {{ $p = first 5 (where $p ".Params.categories" "!=" "weeknotes") }}

    <h3>Articles <span class="subtle">(last 5)</span></h3>

    <div class="post-list">
      {{ range $p }}
        <div class="post-list__item">
          <span>
            <span class="post-list__date">{{ .Date.Format "Jan 02, 2006" }}</span>
          </span>
          <span><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></span>
        </div>
      {{ end }}
    </div>

    {{ $w := where .Site.RegularPages "Section" "posts" }}
    {{ $w := first 5 (where $w ".Params.categories" "intersect" (slice "weeknotes")) }}

    <h3>Weeknotes <span class="subtle">(last 5)</span></h3>

    <div class="post-list">
      {{ range $w }}
        <div class="post-list__item">
          <span>
            <span class="post-list__date">{{ .Date.Format "Jan 02, 2006" }}</span>
          </span>
          <span><a href="{{ .Permalink }}">{{ .Title | markdownify }} of {{ .Date.Format "2006" }}</a></span>
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}
