.book {
  display: flex;
  align-items: flex-start;
  column-gap: 15px;
  margin-bottom: 50px;
  padding: 15px;
  background-color: #eee;
  color: #111;
  border-radius: 3px;
}

.book a {
  padding: 10px;
  background-color: #111;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
}

.book p {
  margin: 5px 0 20px;
}

.book__heading {
  font-size: 18px;
  font-weight: bold;
}

.book--meta {
  margin-top: 40px;
}

.hero-about {
  font-size: 110%;
  background-color: #eef7f0;
  padding: 15px;
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
}

@media (min-width: 690px) {
  .hero-about {
    margin-bottom: 40px;
    border: 0;
    border-radius: 3px;
  }
}