.books {
  margin-bottom: 30px;
  border-bottom: 1px solid #777;
}

.book {
  display: flex;
  column-gap: 15px;
  padding: 15px;
  background-color: #f3f3f3;
  color: #111;
}

.book a {
  padding: 10px;
  background-color: #111;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
}

.book p {
  margin: 5px 0 20px;
}

.book__cover {
  vertical-align: top;
  border: 1px solid #111;
  height: 100%;
}

.book__heading {
  font-size: 18px;
  font-weight: bold;
}

.book--meta {
  margin-top: 40px;
}

.hero-about {
  font-size: 120%;
  background-color: #eef7f0;
  padding: 15px;
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
  line-height: 1.4em;
}