:root {
  --san-serif-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --serif-font: Georgia Pro, Georgia, serif;
  --bg-color: #eee;
  --fg-color: #111;
  --secondary-color: #777;
}

body {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  line-height: 1.6;
  font-size: 16px;
  font-family: var(--san-serif-font);
  background-color: #fff;
  color: var(--fg-color);
}

.wrapper {
  background-color: #fff;
  padding-bottom: 20px;
}

a {
  color: var(--fg-color);
}

hr {
  margin-bottom: 30px;
  height: 1px;
  border: none;
  background-color: #444;
}

blockquote {
  margin: 0;
  padding-left: 15px;
  border-left: 2px solid #ccc;
  font-style: italic;
}

header,
nav,
.content {
  padding: 0 20px;
}

header,
nav {
  font-size: 16px;
}

header, nav {
  background-color: #000;
  color: #fff;
}

header a,
nav a {
  color: #fff;
}

header {
  padding-top: 15px;
}

#site-name {
  font-size: 18px;
  font-weight: bold;
}

#site-name a {
  text-decoration: none;
}

#site-name a:hover {
  text-decoration: underline;
}

nav {
  padding-bottom: 20px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 5px;
  display: inline;
}

main ul {
  list-style: square;
}

main ul,
main ol {
  padding-left: 25px;
}

main ul > li,
main ol > li {
  padding-left: 4px;
  padding-right: 5px;
}

main ul > li:not(:first-of-type),
main ol > li:not(:first-of-type) {
  margin-top: 8px;
}

.index-content h1,
main h2,
main h3 {
  margin-bottom: 8px;
}

/* I like to reduce the space after headings */
.index-content h1 + *,
main h2 + *,
main h3 + * {
  margin-top: 0;
}

.readable {
  /* font-family: var(--serif-font); */
  font-size: 16px;
  max-width: 630px;
}

.readable hr {
  height: 1px;
  background-color: #ccc;
  border: none;
}

/* .readable h1,
.readable h2,
.readable h3,
.readable h4,
.readable h5,
.readable h6 {
  font-family: var(--san-serif-font);
} */

.content.single {
  border-bottom: 1px solid #fff;
}

.post-title {
  margin-bottom: 2px;
  line-height: 1.3
}

.post-title a {
  text-decoration: none;
}

.post-title a:hover {
  text-decoration: underline;
}

.list .post:not(:first-of-type) {
  margin-top: 35px;
  border-top: 1px solid #eee;
}

.list .post-content {
  padding-top: 15px;
}

.post-date, .post-tags {
  display: block;
}

.post-date {
  color: var(--secondary-color);
  font-style: italic;
}

.post-list__item {
  margin-bottom: 20px;
}

.post-list__item > span {
  display: block;
  margin: 4px;
}

.post-list__date {
  padding: 4px;
  background-color: #eee;
  font-family: monospace;
  font-size: 80%;
}

.subtle {
  opacity: 0.8;
  font-size: 0.7em;
}

.heading,
.index-content h1 {
  padding-bottom: 5px;
  font-size: 30px;
}

/* .heading:before,
.index-content h1:before {
  border-bottom: 2px solid #000;
  content: '';
  display: block;
  width: 40px;
} */

.pagination {
  margin-top: 50px;
  padding-top: 15px;
  border-top: 1px solid #eee;
}

.pagination__links {
  display: flex;
  justify-content: space-between;
}

.highlight pre {
  padding: 15px;
  font-size: 14px;
  border-radius: 4px;
  overflow-x: auto;
}

code {
  padding: 3px;
  background-color: #eee;
  border-radius: 2px;
}

pre code {
  background-color: transparent;
}

@media (min-width: 690px) {
  body {
    padding: 40px;
    display: flex;
    justify-content: center;
    background-color: #eee;
  }
  .wrapper {
    margin: 0 auto;
    width: 780px;
    border: 1px solid #000;
    border-radius: 5px;
    padding-bottom: 20px;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.08);
  }
  .post-list {
    display: table;
  }
  
  .post-list__item {
    display: table-row;
  }
  
  .post-list__item > span {
    display: table-cell;
    padding: 5px;
  }
}