body {
  margin: 0;
  padding: 40px 0;
  text-rendering: optimizeLegibility;
  line-height: 1.6;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  background-color: #fff;
  color: #111;
}

a {
  color: #111;
}

hr {
  margin-bottom: 30px;
  height: 1px;
  border: none;
  background-color: #444;
}

blockquote {
  margin: 0;
  padding-left: 15px;
  border-left: 2px solid #ccc;
  font-style: italic;
}

header,
nav,
main,
footer {
  margin: 0 auto;
  max-width: 600px;
}

header,
nav,
.content {
  padding: 0 20px;
}

#site-name {
  font-size: 18px;
  font-weight: bold;
  text-align: right;
}

#site-name a {
  text-decoration: none;
}

#site-name a:hover {
  text-decoration: underline;
}

nav {
  padding-bottom: 30px;
}

nav ul {
  margin: 0;
  padding: 0;
  text-align: right;
}

nav ul li {
  margin-left: 5px;
  display: inline;
}

main ul {
  list-style: square;
}

main ul,
main ol {
  padding-left: 20px;
}

main ul > li,
main ol > li {
  padding-left: 5px;
}

main ul > li:not(:first-of-type),
main ol > li:not(:first-of-type) {
  margin-top: 12px;
}

.index-content h1,
main h2,
main h3 {
  margin-bottom: 8px;
}

/* I like to reduce the space after headings */
.index-content h1 + *,
main h2 + *,
main h3 + * {
  margin-top: 0;
}

.content.single {
  border-bottom: 1px solid #fff;
}

.post-title {
  margin-bottom: 2px;
  line-height: 1.3
}

.post-title a {
  text-decoration: none;
}

.post-title a:hover {
  text-decoration: underline;
}

.list .post:not(:first-of-type) {
  margin-top: 35px;
  border-top: 1px solid #eee;
}

.list .post-content {
  padding-top: 15px;
}

.post-date, .post-tags {
  display: block;
}

.post-date {
  color: #777;
  font-style: italic;
}

.heading,
.index-content h1 {
  padding-bottom: 5px;
  font-size: 30px;
}

.heading:before,
.index-content h1:before {
  border-bottom: 2px solid #000;
  content: '';
  display: block;
  width: 40px;
}

.pagination {
  margin-top: 50px;
  padding-top: 15px;
  border-top: 1px solid #eee;
}

.pagination__links {
  display: flex;
  justify-content: space-between;
}

.highlight pre {
  padding: 15px;
  font-size: 14px;
  border-radius: 4px;
}

code {
  padding: 3px;
  background-color: #eee;
  border-radius: 2px;
}

pre code {
  background-color: transparent;
}

@media (min-width: 690px) {
  header, nav, .content {
    padding-right: 0;
    padding-left: 0;
  }
}